@model BookAPI.Models.Book
@{
    ViewData["Title"] = "DetailItems";
}
<style>
    .row 
    {
        background-color: mintcream;
    }
        
    body 
    {
        background-color: lightgreen;
    }


</style>
<h1>Detail of the Product</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) Rs
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.Photo)" height="200" width="200" />

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlotDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlotDescription)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-controller="Books" asp-action="ShipmentDet">Buy</a>
    <a class="btn btn-danger" asp-controller="Books" asp-action="Index">Back To Shopping</a>

</div>
